.top{
    width: 100%;
    height: 1200px;
    background: url("../make_img/bg1_pc.png");
    background-repeat: no-repeat;
    margin-top: -10px;
}
.content{
    width: 100%;
    height: 640px;
}
.container{
    width: 100%;
    height: 600px;
    background-color: #efefef;
    border: 0px solid transparent;
}
.container_left{
    float: left;
    margin-left: 380px;
    margin-top: 160px;
}
.container_right{
    float: left;
    margin-top: 250px;
    margin-left: 30px;
}
.contain{
    width: 100%;
    height: 600px;
}
.text{
    margin-top: 200px;
    width: 100%;
    height: 300px;
}
.cooperation{
    width: 100%;
    height: 1200px;
}